@import './variables.scss' ;


body{
    background-color: $background;
    height: 100%;
    min-height: 300px;
}



.card-custom{
    min-height: 450px;
    margin-top: 50px;
}

.btn{
    @include buttons;
    transition: 3s;
    &:hover{
        background: linear-gradient(90deg, rgba(37,37,117,1) 0%, rgba(176,176,176,1) 100%);
        transition: 3s;
    }
}

.img-custom{
    @include img-card
}

